.container {
  .nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    background: #222;
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.5);

    &-left {
      display: flex;

      .app-logo {
        line-height: 40px;
        font-size: 30px;
        color: #666;
        padding-right: 20px;
        border-right: 1px solid #333;
      }

      .nav-bar-menu {
        margin-left: 10px;

        &-item {
          display: inline-block;
          box-sizing: border-box;
          padding: 0 20px;
          line-height: 40px;
          text-align: center;
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      line-height: 40px;

      &-search {
        margin-right: 40px;
      }
    }
  }

  .content {
    margin-top: 70px;
    height: 1000px;
  }

  // .ant-back-top {
  //   &-content {
  //     background-color: inherit;
  //     .ant-back-top-icon {
  //       background-image: url("../images/backTop.png");
  //       background-repeat: no-repeat;
  //       background-position: -10px 0;
  //       background-size: 450px 276px;
  //     }
  //   } 
  // }
}